<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='internal.css') }}">
    <style>
        #two {
            display: flex;
            justify-content: space-evenly;
        }

        
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <section class="content">
            <div class="header">
                <img src="{{ url_for('static', filename='images/pharmalogo.png') }}" alt="Example Image" class="logo">
                <h1>Pharma Trace</h1>
            </div>
        </section>
        <nav>
            <div class="left-nav">
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/distributorslist">Distributors List</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/productslist">Products List</a></li>
                <li><a href="/sendtodistributor">Send to Distributor</a></li>
                <li><a href="/aboutus">About Us</a></li>   
                <li><a href="/logout">Logout</a></li> 
            </div>
            
        </nav>
    </header>
    <div class="info-container">
        <h1>Product Management System</h1>

    </div>



    <!-- Popup container -->
        <!-- Product details form -->
        <div class="container">
        <h2 id="popupTitle">Add Product</h2>
        <form id="two" action="/productForm" method="post">
                <div class="col-sm-6">
               
                    <label for="productId">1. Product ID:</label>
                    <input type="text" id="productId" name="productId" required>

                    <label for="productName">2. Product Name:</label>
                    <input type="text" id="productName" name="productName" required>

                    <label for="manufacturerInfo">3. Manufacturer Information:</label>
                    <input type="text" id="manufacturerInfo" name="manufacturerInfo" required>

                    <label for="lotNumber">4. Lot or Batch Number:</label>
                    <input type="text" id="lotNumber" name="lotNumber" required>

                
                </div>
                <div class="col-sm-6">

                    <label for="manufacturingDate">5. Manufacturing Date:</label>
                    <input type="date" id="manufacturingDate" name="manufacturingDate" required>

                    <label for="expirationDate">6. Expiration Date:</label>
                    <input type="date" id="expirationDate" name="expirationDate" required>
                

                    <label for="serialNumber">7. Serial Number:</label>
                    <input type="text" id="serialNumber" name="serialNumber" required>

                    <label for="udi">8. Unique Device Identifier (UDI):</label>
                    <input type="text" id="udi" name="uid" required>


                <!-- Display messages -->
                <div id="statusMessage" class="message"></div> <br/>
                    <button type="submit" class="btn btn-success">Add Product</button>
                    <button onclick="hidePopup()" class="btn btn-danger">Close</button>
            </div>
                
            </form>

            <!-- Close button -->

    </div> <br/> <br/>
    <div class="container col-sm-4"></div>
    <div class="container col-sm-6">
        <span style="color:green">{{res}}</span>
        <span style="color:red">{{err}}</span>
    </div>

    <script src="{{ url_for('static', filename='js/static.js') }}" defer></script>
    <script>
        // products

        function showPopup(action) {
            if (action === 'Add Product') {
                // Customize this function to load product details based on the action
                // For simplicity, just setting a placeholder title
                document.getElementById('popupTitle').textContent = action;

                // Display the overlay and popup
                document.getElementById('overlay').style.display = 'block';
                document.getElementById('popup').style.display = 'block';
            }
        }

        function hidePopup() {
            // Hide the overlay and popup
            document.getElementById('overlay').style.display = 'none';
            document.getElementById('popup').style.display = 'none';
        }

        function openPopup() {
            document.getElementById("popupOverlay").style.display = "flex";
        }

        function closePopup() {
            document.getElementById("popupOverlay").style.display = "none";
        }

        function logout() {
            // Add your logic for logout here
        }
    </script>

</body>
{% include 'footer.html' %}
<div id="footer-placeholder"></div>
</html>