<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distributor Management System</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/pharmalogo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='internal.css') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body>
    <div id="header-placeholder"></div>
    <header>
        <section class="content">
            <div class="header">
                <img src="{{ url_for('static', filename='images/pharmalogo.png') }}" alt="" class="logo">
                <h1>Pharma Trace</h1>
            </div>
        </section>
        <nav>
            <div class="left-nav">
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/distributorslist">Distributors List</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/productslist">Products List</a></li>
                <li><a href="/sendtodistributor">Send to Distributor</a></li>
                <li><a href="/aboutus">About Us</a></li>   
                <li><a href="/logout">Logout</a></li> 
            </div>
            
        </nav>
    </header>

    <div class="info-container">
        <h1>Product Management System</h1>

</head>
<body>

<h2>Products List</h2>
<div class="container col-sm-12">
<table class="table">
  <tr>
    <th>SNo</th>
    <th>Product Id</th>
    <th>Product Name</th>
    <th>Manufacturer Info</th>
    <th>Lot Number</th>
    <th>Manufacturing Date</th>
    <th>Expiration Date</th>
    <th>Serial Number</th>
    <th>Uid</th>
    <th>Product Status</th>
    <th>Download QR</th>
  </tr>
  {%for i in range(l)%}
    <tr>
        <td>{{i+1}}</td>
        <td>{{dashboard_data[i][0]}}</td>
        <td>{{dashboard_data[i][1]}}</td>
        <td>{{dashboard_data[i][2]}}</td>
        <td>{{dashboard_data[i][3]}}</td>
        <td>{{dashboard_data[i][4]}}</td>
        <td>{{dashboard_data[i][5]}}</td>
        <td>{{dashboard_data[i][6]}}</td>
        <td>{{dashboard_data[i][7]}}</td>
        <td>{{dashboard_data[i][8]}}</td>
        <td><a class="btn btn-danger" href="http://127.0.0.1:5001/static/qrcodes/{{dashboard_data[i][0]}}.png">Download QR</a></td>

    </tr>
  {%endfor%}
  
</table>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}" defer></script>

<script>
    function showPopup1(action) {
        if (action === 'Add Distributor') {
            // Customize this function to load product details based on the action
            // For simplicity, just setting a placeholder title
            document.getElementById('popupTitle').textContent = action;

            // Display the overlay and popup
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('popup').style.display = 'block';
        }
    }

    function hidePopup() {
        // Hide the overlay and popup
        document.getElementById('overlay').style.display = 'none';
        document.getElementById('popup').style.display = 'none';
    }

    function openPopup() {
        document.getElementById("overlay").style.display = "flex";
        document.getElementById("popup").style.display = "flex";
    }

    function closePopup() {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("popup").style.display = "none";
    }

    function logout() {
        // Add your logic for logout here
    }


</script>

</body>

</html>
