<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Management System</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='internal.css') }}">
    <style>
        #three {
            display: flex;
            justify-content: space-evenly;
        }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <section class="content">
            <div class="header">
                <img src="{{ url_for('static', filename='images/pharmalogo.png') }}" alt="Example Image" class="logo">
                <h1>Pharma Trace</h1>
            </div>
        </section>
        <nav>
            <div class="left-nav">
                <li><a href="/ddashboard">Home</a></li>
                <li><a href="/supplierslist">Suppliers List</a></li>
                <li><a href="/distributedproducts">My Products</a></li>
                <li><a href="/sendtosupplier">Send to Supplier</a></li>
                <li><a href="/saboutus">About Us</a></li>
                <li><a href="/logout">Logout</a></li>
            </div>
            
        </nav>
    </header>
    <div class="info-container">
        <h1>Supplier Management System</h1>
    </div>


    <!-- Buttons to trigger actions -->


    <div class="container">
        <!-- Distributor details form -->
        <h2 id="popupTitle">Add Supplier</h2>
        <form action="/supplierForm" method="post">
                <div class="col-sm-6">
                <label for="distributorId">1. Supplier ID:</label>
                <input type="text" id="distributorId" name="supplierId" class="form-control" required> <br/>

                <label for="distributorName">2. Supplier Name:</label>
                <input type="text" id="distributorName" name="supplierName" class="form-control" required> <br/>

                <label for="contactInfo">3. Contact Information:</label>
                <input type="text" id="contactInfo" Name="contactInfo" class="form-control" required> <br/>

                <label for="address">4. Address:</label>
                <input type="text" id="address" name="address" class="form-control" required> <br/>

                <label for="email">5. Email:</label>
                <input type="email" id="email" name="email" class="form-control" required> <br/>

                <label for="phone">6. Phone Number:</label>
                <input type="tel" id="phone" name="phone" class="form-control" required> <br/>
            </div>
            <div class="col-sm-6">
                <label for="tin">7. Tax Identification Number (TIN):</label>
                <input type="text" id="tin" name="tin" class="form-control" required> <br/>

                <label for="brn">8. Business Registration Number (BRN):</label>
                <input type="text" id="brn" name="brn" class="form-control" required> <br/>

                <label for="wallet">9. Wallet Address:</label>
                <input type="text" id="wallet" name="wallet" class="form-control" required> <br/>

                <label for="emergencyContact">10. Emergency Contact Information:</label>
                <input type="text" id="emergencycontact" name="emergencycontact" class="form-control" required> <br/>

                <label for="password">11. Password:</label>
                <input type="password" id="password" name="password" class="form-control" required> <br/>
            
                
                <button type="submit" class="btn btn-warning">Add Supplier</button>
                </div>
                <span style="color:red">{{err}}</span>
                <span style="color:green">{{res}}</span>
        </form>
        

        <!-- Close button -->

    </div>

    <script src="{{ url_for('static', filename='js/static.js') }}" defer></script>
    <script>
        // supplier 

        function showPopup(action) {
            if (action === 'Add Supplier') {
                // Customize this function to load product details based on the action
                // For simplicity, just setting a placeholder title
                document.getElementById('popupTitle').textContent = action;

                // Display the overlay and popup
                document.getElementById('overlay').style.display = 'block';
                document.getElementById('popup').style.display = 'block';
            }
        }

        function openPopup() {
            document.getElementById("popupOverlay").style.display = "flex";
        }

        function closePopup() {
            document.getElementById("popupOverlay").style.display = "none";
        }

        function logout() {
            // Add your logic for logout here
        }
        function hidePopup1() {
            document.getElementById('overlay').style.display = 'none';
            document.getElementById('popup').style.display = 'none';
        }

    </script>


</body>
{% include 'footer.html' %}
<div id="footer-placeholder"></div>

</html>